#container-table th{
	color: #337ab7!important;
}
.no-margin-bottom{
	margin-bottom: 0px!important;
}
.auto-scroll{
    overflow: auto;
}
.height-300{
    height: 300px;
}
.no-resize-80{
    resize: none;
    height: 80px;
}
.label-font-blue{
    color: #337ab7!important;
}
.pointer{
    cursor: pointer;
}
.output{
    background-color: #342121;
    color: #4AA629;
    height: 90px;
    overflow: auto;
    border: 2px;
    border-color: #949090;
    border-radius: 3px;
}
.error{
    color: #B02626!important;
}