.left-radius-4{
	border-radius: 4px 0px 0px 4px!important;
}
.right-radius-4{
	border-radius: 0 4px 4px 0!important;
}
.all-radius-4{
	border-radius: 4px!important;
}

.color-dark-grey{
	background-color: #ddd!important;
	color: #767676!important;
	font-size: 14px;
	font-weight: bold;
}

.float-right{
	float: right;
}

.no-display{
	display: none!important;
}