
    <div>
        <div class="well no-margin-bottom">
            <h1 class="grey lighter smaller">
				<span class="blue bigger-125">
					<i class="fa fa-television"></i>
						Add
				</span>
				New Vulnerable Target
			</h1>
            <hr />
            <div class="control-group">
                <label class="control-label bolder blue">Adding Mode</label>
                <div class="radio">
                    <label>
                        <input name="form-field-radio" type="radio" class="ace" ng-value="1" ng-model="addMode" />
                        <span class="lbl"> By <strong>Vulhub</strong></span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input name="form-field-radio" type="radio" class="ace" ng-value="2" ng-model="addMode" />
                        <span class="lbl"> By <strong>Dockfile</strong></span>
                    </label>
                </div>
            </div>
            <div class="alert alert-danger" ng-show="modalAlert">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="fa fa-remove"></i>
                </button>
                <strong><i class="fa fa-remove"></i> Error!</strong> 
                 You must choose a mode.
                <br />
            </div>
            <hr />
            <div class="space"></div>
            <div class="center">
                <button class="btn btn-primary" ng-click="confirm()">
                    <i class="fa fa-check"></i> Confirm
                </button>
                <button class="btn btn-danger" ng-click="cancel()">
                    <i class="fa fa-times"></i> Cancel
                </button>
            </div>
        </div>
    </div>

