{% verbatim %}
<div>
    <div class="well no-margin-bottom">
        <h1 class="grey lighter smaller">
                <span class="blue bigger-125">
                    <i class="fa fa-television"></i>
                        Vulhub
                </span>
                {{ cur_case.name }}
            </h1>
        <hr />

            <div class="widget-box">
                <div class="widget-header header-color-blue2">
                    <h4 class="lighter smaller">Create Vulhub Case</h4>
                </div>
                <div class="widget-body slimScrollDiv auto-scroll height-300">
                    <div class="widget-main padding-8">
                        <div class=" col-sm-12 space-6"></div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 label-font-blue">漏洞编号: </label>
                            <input class="col-sm-9" type="" name="" placeholder="CVE-xxxx-xxxx, BID-xxxxxx" ng-model="vuln_number">
                        </div>
                        <div class="col-sm-12 space-6"></div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 label-font-blue">漏洞描述: </label>
                            <textarea class="col-sm-9 no-resize-80" type="" name="" placeholder="Description" ng-model="description"></textarea> 
                        </div>
                        <div class="col-sm-12 space-6"></div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 label-font-blue">复现步骤: </label>
                            <input type="file" class="col-sm-9" name="" nv-file-select uploader="fileUploader"> </input>
                        </div>
                         <div class="col-sm-12 space-6"></div>
                        <div class="col-sm-12 output" >
                            <div ng-repeat="logLine in logData.collection"l>
                                <div>{{ logLine.info }}</div>
                                <div class="error">{{ logLine.err }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="alert alert-danger" ng-show="modalAlert">
            <button type="button" class="close" data-dismiss="alert">
                <i class="fa fa-remove"></i>
            </button>
            <strong><i class="fa fa-remove"></i> Warning!</strong> Can not retrieve the vulhub cases!
            <br />
        </div>
        <hr />
        <div class="space"></div>
        <div class="center">
            <button class="btn btn-primary" ng-disabled="vuln_number.trim()=='' || description.trim()=='' || fileUploader.queue.length==0" ng-click="confirm()">
                <i class="fa fa-check"></i> Confirm
            </button>
            <button class="btn btn-danger" ng-click="cancel()">
                <i class="fa fa-times"></i> Cancel
            </button>
        </div>
    </div>
</div>
{% endverbatim %}
